// Colors File
//
// This file is all the colors used in the theme.
// =============================================================================

$white: #fff;
$blue: #2c86ba;
$gray: #404040;
$black: #000;
$off-white: #eee;
$gray40: #666;
$yellow: #fff9c0;
$gray80: #ccc;
// hsl(0, 0%, 80%)
$gray60: #3c3c3c;
$gray30: #333;
// hsl(0, 0%, 20%)
$black1: #111;
$green84: #84bd68;
$gray49: #313131;
$gray77: #4d4d4d;
$blue21: #21759b;
$blue05: #0587BF;
$grayb9: #b9b9b9;
$blue6d: #6DBCDB;
$graybf: hsl(0, 0%, 75%);
// #bfbfbf

$grayed: hsl(0, 0%, 93%);
// #ededed

$grayf2: hsl(0, 0%, 95%);
// #f2f2f2

$gray90: #e5e5e5;
// hsl( 0, 0%, 90%)

$grayb2: #e5e5e5;


