/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
/* line 11, ../sass/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 22, ../sass/_normalize.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 30, ../sass/_normalize.scss */
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

/* line 35, ../sass/_normalize.scss */
body {
  background: #fff;
}

/* line 47, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 50, ../sass/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 53, ../sass/_normalize.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 57, ../sass/_normalize.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 62, ../sass/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 65, ../sass/_normalize.scss */
blockquote, q {
  quotes: "" "";
}

/* line 68, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 72, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 75, ../sass/_normalize.scss */
a img {
  border: 0;
}

/* line 79, ../sass/_normalize.scss */
a:focus img {
  outline: 3px dotted #2c86ba;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
/* line 9, ../sass/_typography.scss */
body,
button,
input,
select,
textarea {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  color: #404040;
  color: #404040;
}

/* line 18, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  clear: right;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #000;
  color: black;
  -ms-word-break: break-word;
  word-break: break-word;
}

/* line 28, ../sass/_typography.scss */
p {
  margin-bottom: 1.5em;
}

/* line 30, ../sass/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 32, ../sass/_typography.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 34, ../sass/_typography.scss */
address {
  margin: 0 0 1.5em;
}

/* line 36, ../sass/_typography.scss */
pre {
  max-width: 100%;
  padding: 1.6em;
  margin-bottom: 2em !important;
  overflow: auto;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  background: #eee;
}

/* line 48, ../sass/_typography.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 50, ../sass/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 55, ../sass/_typography.scss */
mark, ins {
  text-decoration: none;
  background: #fff9c0;
}

/* line 60, ../sass/_typography.scss */
sup, sub {
  position: relative;
  height: 0;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

/* line 68, ../sass/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 70, ../sass/_typography.scss */
sub {
  top: .5ex;
}

/* line 72, ../sass/_typography.scss */
small {
  font-size: 75%;
}

/* line 74, ../sass/_typography.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 4, ../sass/_elements.scss */
hr {
  height: 1px;
  margin-bottom: 1.5em;
  background-color: #ccc;
  border: 0;
}

/* line 11, ../sass/_elements.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 13, ../sass/_elements.scss */
ul {
  list-style: disc;
}

/* line 15, ../sass/_elements.scss */
ol {
  list-style: decimal;
}

/* line 18, ../sass/_elements.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 23, ../sass/_elements.scss */
dt {
  font-weight: bold;
}

/* line 25, ../sass/_elements.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 27, ../sass/_elements.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 32, ../sass/_elements.scss */
figure {
  margin: 0;
}

/* line 34, ../sass/_elements.scss */
table {
  width: 100%;
  margin: 0 0 1.5em;
}

/* line 39, ../sass/_elements.scss */
th {
  font-weight: bold;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
/* line 5, ../sass/_accessibility.scss */
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 15, ../sass/_accessibility.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  top: 5px;
  left: 5px;
  z-index: 100000;
  /* Above WP toolbar */
  clip: auto !important;
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: normal;
  color: #21759b;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

/*--------------------------------------------------------------
10.2 Index and Archive
--------------------------------------------------------------*/
/* line 4, ../sass/_archive.scss */
.taxonomy-description {
  padding-top: 2rem;
  margin: 2rem 0;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

/* line 13, ../sass/_archive.scss */
.sticky-post {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

/* line 19, ../sass/_archive.scss */
.continue-reading {
  margin: 0 4rem;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 26, ../sass/_archive.scss */
.continue-reading i {
  margin-left: .5em;
}

/* line 29, ../sass/_archive.scss */
.search-no-results .content-area,
.error404 .content-area {
  margin-top: 4rem;
}

/*--------------------------------------------------------------
10.3 Asides
--------------------------------------------------------------*/
/* line 4, ../sass/_asides.scss */
.format-aside .entry-content {
  margin-top: 1em;
}

/*--------------------------------------------------------------
10.6 Author Box
--------------------------------------------------------------*/
/* line 4, ../sass/_author-box.scss */
.reveal-bio {
  max-width: 780px;
  max-width: 78rem;
  margin: 0 auto;
  background: #fff;
}

/* line 11, ../sass/_author-box.scss */
.reveal-bio a {
  display: block;
  padding: 2rem 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 26px;
  font-size: 2.6rem;
  color: #bfbfbf;
  color: #bfbfbf;
  text-align: center;
}

/* line 24, ../sass/_author-box.scss */
.reveal-bio a:hover,
.reveal-bio a:focus {
  text-decoration: none;
  color: #000;
  color: black;
}

/* line 30, ../sass/_author-box.scss */
.shorter {
  padding: 0 0 4rem !important;
}

/* line 32, ../sass/_author-box.scss */
.hide-fix {
  padding: 0 !important;
  margin-bottom: 2rem !important;
}

/* line 38, ../sass/_author-box.scss */
.author-info {
  padding-top: 1rem;
  margin: 0 4rem;
}

/* line 43, ../sass/_author-box.scss */
.author-avatar {
  float: left;
  margin: 0 2rem 0 0;
}

/* line 48, ../sass/_author-box.scss */
.author-avatar img {
  display: block;
}

/* line 50, ../sass/_author-box.scss */
.author-title {
  margin-bottom: .8rem;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1;
}

/* line 57, ../sass/_author-box.scss */
.author-meta {
  border-bottom: 16px solid #f2f2f2;
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
}

/* line 63, ../sass/_author-box.scss */
.share-and-more {
  padding: .1rem 0 1.1rem;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 70, ../sass/_author-box.scss */
.author-social-media {
  display: inline-block;
}

/* line 72, ../sass/_author-box.scss */
.author-social-media a {
  margin-left: 1.5rem;
  color: #000;
  color: black;
}

/* line 79, ../sass/_author-box.scss */
.author-social-media a:hover,
.author-social-media a:focus {
  text-decoration: none;
}

/* line 81, ../sass/_author-box.scss */
a.author-link {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #000;
  color: black;
}

/* line 88, ../sass/_author-box.scss */
.author-link i {
  margin-left: 1rem;
}

/* line 91, ../sass/_author-box.scss */
.author-meta,
.author-description {
  margin-left: 12rem;
}

/* Author Box responsive */
@media screen and (max-width: 600px) {
  /* line 96, ../sass/_author-box.scss */
  .author-meta,
  .author-description {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
10.5 Comments
--------------------------------------------------------------*/
/* line 4, ../sass/_comments.scss */
.comments-title {
  font-weight: 900;
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 10, ../sass/_comments.scss */
.comments-area > ol {
  padding: 0;
  margin: 2em 0;
  list-style-type: none;
}

/* line 16, ../sass/_comments.scss */
ol.children {
  list-style-type: none;
}

/* line 18, ../sass/_comments.scss */
.comment-author .avatar {
  display: block;
  float: left;
  width: 50px;
  margin-right: 20px;
}

/* line 25, ../sass/_comments.scss */
.comment-author .fn {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-size: 2rem;
}

/* line 32, ../sass/_comments.scss */
.comment-metadata {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 37, ../sass/_comments.scss */
.comment-meta {
  margin-bottom: 1em;
}

/* line 39, ../sass/_comments.scss */
.comment-content {
  font-size: 90%;
}

/* line 42, ../sass/_comments.scss */
.comment-content,
.reply {
  margin-left: 70px;
}

/* line 44, ../sass/_comments.scss */
.comment-body {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: solid #cccccc 1px;
}

/* line 50, ../sass/_comments.scss */
.comment-list ol {
  margin-left: 50px;
}

/* line 52, ../sass/_comments.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 54, ../sass/_comments.scss */
.reply {
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

/* line 61, ../sass/_comments.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 63, ../sass/_comments.scss */
.comment-content ol {
  margin-left: 1.5em;
}

/* line 65, ../sass/_comments.scss */
.bypostauthor > .comment-body {
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
  background: #ededed;
  border: none;
}

/* Comments responsive */
@media screen and (max-width: 600px) {
  /* line 75, ../sass/_comments.scss */
  .comment-list ol {
    margin-left: 0;
  }

  /* line 77, ../sass/_comments.scss */
  .comment-content ol {
    margin-left: 1.5em;
  }

  /* line 80, ../sass/_comments.scss */
  .comment-content,
  .reply {
    margin-left: 0;
  }
}
/* line 83, ../sass/_comments.scss */
.comment-reply-title {
  margin-bottom: .5em;
  font-weight: 900;
  font-size: 30px;
  font-size: 3rem;
}

/* line 90, ../sass/_comments.scss */
.comment-form {
  padding-bottom: 4rem;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 97, ../sass/_comments.scss */
.comment-form textarea {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 103, ../sass/_comments.scss */
.comment-form label {
  display: block;
}

/* line 105, ../sass/_comments.scss */
.required {
  color: red;
}

/*--------------------------------------------------------------
13 Footer
--------------------------------------------------------------*/
/* line 5, ../sass/_footer.scss */
.site-footer {
  padding: 2em;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Lato';
  color: #fff;
  color: white;
  background: #313131;
  background: #303030;
}

/* line 16, ../sass/_footer.scss */
.site-footer a {
  color: #fff;
  color: white;
}

/* line 21, ../sass/_footer.scss */
.site-info {
  text-align: center;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
/* line 7, ../sass/_forms.scss */
button,
input,
select,
textarea {
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
}

/* line 17, ../sass/_forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 1em 2em;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Lato';
  text-transform: uppercase;
  line-height: 1;
  color: white;
  background: #3c3c3c;
  background: #3d3d3d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}

/* line 36, ../sass/_forms.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #000;
  background: black;
}

/* line 48, ../sass/_forms.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #000;
  background: black;
}

/* line 54, ../sass/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 58, ../sass/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  width: 100%;
}

/* line 63, ../sass/_forms.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 68, ../sass/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  padding: 0;
  border: 0;
}

/* line 78, ../sass/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 8px;
  font-family: 'Lato', sans-serif;
  color: #333;
  border: 1px solid #ccc;
}

/* line 90, ../sass/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 94, ../sass/_forms.scss */
textarea {
  width: 100%;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
}

/* line 101, ../sass/_forms.scss */
.comment-awaiting-moderation {
  /* Green background color to make moderation seem less aggressive */
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  color: white;
  background: #84bd68;
  background: #83bc67;
}

/*--------------------------------------------------------------
9.0 Header
--------------------------------------------------------------*/
/* line 5, ../sass/_header.scss */
.site-branding {
  padding: 6rem 0;
  text-align: center;
  background: #0587BF;
  background: #0586bd;
}

/* line 12, ../sass/_header.scss */
.title-box {
  width: 600px;
  max-width: 75%;
  padding: 4rem;
  margin: 0 auto;
  border: solid 1px #fff;
  border: solid 1px rgba(255, 255, 255, 0.3);
}

/* line 21, ../sass/_header.scss */
.site-title {
  font-weight: 700;
  font-size: 40px;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 1rem;
}

/* line 30, ../sass/_header.scss */
.site-description {
  font-weight: 100;
  font-size: 20px;
  font-size: 2rem;
}

/* line 36, ../sass/_header.scss */
.site-branding a {
  text-decoration: none;
}

/* line 39, ../sass/_header.scss */
.site-title a,
.site-description {
  color: #fff;
  color: white;
}

/* line 44, ../sass/_header.scss */
.header-image img {
  display: block;
  margin: 0 auto;
}

/* line 49, ../sass/_header.scss */
.header-background-image {
  background: no-repeat center;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
}

/* line 56, ../sass/_header.scss */
.header-background-image .title-box {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* Header responsive */
@media screen and (max-width: 900px) {
  /* line 63, ../sass/_header.scss */
  .site-branding {
    padding: 0;
  }

  /* line 65, ../sass/_header.scss */
  .title-box {
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem;
    border: none;
  }
}
@media screen and (max-width: 399px) {
  /* line 74, ../sass/_header.scss */
  .title-box {
    padding: 2rem;
  }
}
/* Header search */
/* line 79, ../sass/_header.scss */
.search-toggle {
  float: right;
  width: 54px;
  height: 54px;
  padding: 12px;
  margin-right: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* line 91, ../sass/_header.scss */
.search-toggle:hover,
.search-toggle.active {
  background: #4d4d4d;
  background: #4d4d4d;
}

/* line 96, ../sass/_header.scss */
.search-toggle .screen-reader-text {
  top: 0;
  right: 0;
}

/* line 100, ../sass/_header.scss */
.search-box-wrapper {
  z-index: 2;
  width: 100%;
}

/* line 104, ../sass/_header.scss */
.search-box {
  padding: 1em;
  background: #4d4d4d;
  background: #4d4d4d;
}

/* line 110, ../sass/_header.scss */
.search-box .search-field {
  max-width: 362px;
  float: right;
  padding: 1rem 2rem 1rem 4rem;
  font-size: 20px;
  font-size: 2rem;
  background-color: #fff;
  border: 0;
}

/* line 120, ../sass/_header.scss */
.hide {
  display: none;
}

/* line 124, ../sass/_header.scss */
.error404 .search-submit,
.search .search-submit,
.search-box .search-submit {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 127, ../sass/_header.scss */
  .search-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }
}
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 4, ../sass/_helpers.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

/* line 11, ../sass/_helpers.scss */
.alignright {
  display: inline;
  float: right;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

/* line 18, ../sass/_helpers.scss */
.aligncenter {
  display: block;
  margin: 0 auto 1.6em;
  clear: both;
}

/* Alignment responsive */
@media screen and (min-width: 1320px) {
  /* line 26, ../sass/_helpers.scss */
  .alignleft {
    margin-left: -160px;
  }
}
@media screen and (min-width: 1820px) {
  /* line 30, ../sass/_helpers.scss */
  .alignright {
    margin-right: -160px;
  }
}
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 47, ../sass/_helpers.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  display: table;
  content: '';
}

/* line 57, ../sass/_helpers.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
10.4 Image Attachments
--------------------------------------------------------------*/
/* line 5, ../sass/_images-attachments.scss */
.attachment .entry-title {
  margin-top: .7em;
}

/* line 7, ../sass/_images-attachments.scss */
.entry-attachment {
  margin-bottom: 3rem;
}

/* line 9, ../sass/_images-attachments.scss */
.attachment-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 6, ../sass/_infinite-scroll.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 10, ../sass/_infinite-scroll.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 6, ../sass/_media.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border: none;
}

/* line 13, ../sass/_media.scss */
.wp-caption {
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 18, ../sass/_media.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 23, ../sass/_media.scss */
.wp-caption-text {
  text-align: center;
}

/* line 26, ../sass/_media.scss */
.wp-caption .wp-caption-text,
.gallery-caption {
  padding: 0.8075em 1em;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  background: #e5e5e5;
  background: #e6e6e6;
}

/* line 35, ../sass/_media.scss */
.site-main .gallery {
  margin-bottom: 1.5em;
}

/* line 37, ../sass/_media.scss */
.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 50%;
  width: 100%;
  padding: 6px 8px;
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

/* line 54, ../sass/_media.scss */
.gallery-item:hover .gallery-caption,
.gallery-item:focus .gallery-caption {
  opacity: 1;
}

/* line 56, ../sass/_media.scss */
.site-main .gallery a img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border: none;
}

/* line 64, ../sass/_media.scss */
.site-main .gallery-item {
  position: relative;
  float: left;
  max-width: 100%;
  margin-right: 3.333333333%;
  margin-bottom: 3rem;
  overflow: hidden;
  background: #333;
}

/* line 75, ../sass/_media.scss */
.site-main .gallery dd,
.site-main .gallery figcaption {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 84, ../sass/_media.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* Featured Images */
/* line 88, ../sass/_media.scss */
.single-post-thumbnail {
  background: #b2b2b2 url(images/pattern.svg) repeat;
}

/* line 90, ../sass/_media.scss */
.front-index-thumbnail {
  margin-bottom: -3.2em;
}

@media screen and (max-width: 779px) {
  /* line 93, ../sass/_media.scss */
  .front-index-thumbnail {
    margin-bottom: 0;
  }
}
/* line 97, ../sass/_media.scss */
.single-post-thumbnail img,
.front-index-thumbnail img {
  display: block;
  margin: 0 auto;
}

/* line 102, ../sass/_media.scss */
.has-thumbnail {
  position: relative;
  margin-top: -8em;
}

/* line 107, ../sass/_media.scss */
.small-index-thumbnail {
  margin-top: -1em;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/* line 7, ../sass/_navigation.scss */
a {
  text-decoration: none;
  color: #000;
  color: black;
}

/* line 13, ../sass/_navigation.scss */
a:visited {
  color: #333;
  color: #333333;
}

/* line 20, ../sass/_navigation.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* line 27, ../sass/_navigation.scss */
.main-navigation {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background: #313131;
  background: #303030;
}

/* line 38, ../sass/_navigation.scss */
.main-navigation ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* line 44, ../sass/_navigation.scss */
.main-navigation li {
  position: relative;
  float: left;
}

/* line 49, ../sass/_navigation.scss */
.main-navigation a {
  display: block;
  padding: 1.3em 1em;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 1.3em;
  color: white;
  color: white;
}

/* line 60, ../sass/_navigation.scss */
.main-navigation ul ul {
  position: absolute;
  left: 0;
  z-index: 99999;
  display: none;
  float: left;
  padding: 0;
  background: #4d4d4d;
  background: #4d4d4d;
}

/* line 71, ../sass/_navigation.scss */
.main-navigation ul ul ul {
  top: 0;
  left: 100%;
}

/* line 76, ../sass/_navigation.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 81, ../sass/_navigation.scss */
.main-navigation li:hover > a,
.main-navigation li > a:focus {
  color: #fff;
  color: white;
  background: #4d4d4d;
  background: #4d4d4d;
}

/* line 91, ../sass/_navigation.scss */
.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus {
  background: #313131;
  background: #303030;
}

/* line 96, ../sass/_navigation.scss */
.main-navigation ul li:hover > ul {
  display: block;
}

/* line 103, ../sass/_navigation.scss */
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover,
.main-navigation .current_page_item > a:focus,
.main-navigation .current-menu-item > a:focus {
  color: #313131;
  color: #303030;
  background: white;
}

/* line 109, ../sass/_navigation.scss */
.main-navigation .current_page_ancestor {
  background: #4d4d4d;
  background: #4d4d4d;
}

/* line 115, ../sass/_navigation.scss */
.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
  color: #fff;
  color: white;
  background: #313131;
  background: #303030;
}

/* Small menu */
/* line 123, ../sass/_navigation.scss */
.menu-toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* line 129, ../sass/_navigation.scss */
  .menu-toggle {
    display: inline-block;
    height: 3.9em;
    padding: 0 1em;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3.75em;
    color: white;
  }

  /* line 142, ../sass/_navigation.scss */
  .menu-toggle a:hover,
  .menu-toggle a:focus {
    background: #4d4d4d;
    background: #4d4d4d;
  }

  /* line 147, ../sass/_navigation.scss */
  .main-navigation.toggled .nav-menu {
    display: block;
    border-top: 1px solid;
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.5);
  }

  /* line 154, ../sass/_navigation.scss */
  .main-navigation ul {
    display: none;
    padding-left: 0;
  }

  /* line 159, ../sass/_navigation.scss */
  .main-navigation li {
    float: none;
  }

  /* line 161, ../sass/_navigation.scss */
  .main-navigation li a {
    padding: 1.3em 2em;
  }

  /* line 163, ../sass/_navigation.scss */
  .main-navigation li li a {
    padding-left: 4em;
  }

  /* line 165, ../sass/_navigation.scss */
  .main-navigation li li li a {
    padding-left: 6em;
  }

  /* line 168, ../sass/_navigation.scss */
  .main-navigation li:hover > a,
  .main-navigation li > a:focus {
    background: #313131;
    background: #303030;
  }

  /* line 174, ../sass/_navigation.scss */
  .main-navigation ul ul,
  .main-navigation ul ul ul {
    position: relative;
    top: inherit;
    left: 0;
    display: block;
    float: none;
    background: #313131;
    background: #303030;
  }

  /* line 184, ../sass/_navigation.scss */
  .main-navigation ul ul a {
    width: 100%;
  }

  /* line 189, ../sass/_navigation.scss */
  .main-navigation ul a:hover,
  .main-navigation ul ul a:hover,
  .main-navigation ul a:focus,
  .main-navigation ul ul a:focus {
    background: #4d4d4d;
    background: #4d4d4d;
  }

  /* line 194, ../sass/_navigation.scss */
  .main-navigation .current_page_ancestor {
    background: inherit;
  }

  /* line 196, ../sass/_navigation.scss */
  .main-navigation ul ul .current_page_parent {
    color: inherit;
    background: inherit;
  }

  /* line 206, ../sass/_navigation.scss */
  .main-navigation .current_page_item > a,
  .main-navigation .current_page_item > a:hover,
  .main-navigation .current_page_item li:hover,
  .main-navigation .current_page_item > a:focus,
  .main-navigation .current_page_item li:focus,
  .main-navigation .current_page_parent .current_page_item > a {
    color: #fff;
    color: white;
    background: #4d4d4d;
    background: #4d4d4d;
  }
}
/* End responsive menu */
/* Social Menu */
/* line 217, ../sass/_navigation.scss */
.menu-social ul {
  float: right;
  text-align: center;
  list-style: none;
}

/* line 223, ../sass/_navigation.scss */
.menu-social ul li {
  position: relative;
  display: inline-block;
}

/* line 228, ../sass/_navigation.scss */
.menu-social li a:before {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-family: 'Fontawesome';
  font-size: 20px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  content: '\f08e';
}

/* line 239, ../sass/_navigation.scss */
.menu-social li a[href*="dribbble.com"]::before {
  content: '\f17d';
}

/* line 241, ../sass/_navigation.scss */
.menu-social li a[href*="facebook.com"]::before {
  content: '\f09a';
}

/* line 243, ../sass/_navigation.scss */
.menu-social li a[href*="flickr.com"]::before {
  content: '\f16e';
}

/* line 245, ../sass/_navigation.scss */
.menu-social li a[href*="github.com"]::before {
  content: '\f09b';
}

/* line 247, ../sass/_navigation.scss */
.menu-social li a[href*="plus.google.com"]::before {
  content: '\f0d5';
}

/* line 249, ../sass/_navigation.scss */
.menu-social li a[href*="instagram.com"]::before {
  content: '\f16d';
}

/* line 251, ../sass/_navigation.scss */
.menu-social li a[href*="linkedin.com"]::before {
  content: '\f0e1';
}

/* line 253, ../sass/_navigation.scss */
.menu-social li a[href*="pinterest.com"]::before {
  content: '\f0d2';
}

/* line 255, ../sass/_navigation.scss */
.menu-social li a[href*="tumblr.com"]::before {
  content: '\f173';
}

/* line 257, ../sass/_navigation.scss */
.menu-social li a[href*="twitter.com"]::before {
  content: '\f099';
}

/* line 259, ../sass/_navigation.scss */
.menu-social li a[href*="vimeo.com"]::before {
  content: '\f194';
}

/* line 261, ../sass/_navigation.scss */
.menu-social li a[href*="youtube.com"]::before {
  content: '\f167';
}

@media screen and (max-width: 600px) {
  /* line 264, ../sass/_navigation.scss */
  #menu-social ul {
    position: absolute;
    top: 0;
    right: 6rem;
    display: block;
  }

  /* line 271, ../sass/_navigation.scss */
  #menu-social li a {
    padding-left: .5em;
    padding-right: .5em;
  }
}
/* Paging navigation */
/* line 281, ../sass/_navigation.scss */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  color: #000;
  color: black;
}

/* line 289, ../sass/_navigation.scss */
.post-nav-box {
  padding: 2em 0;
  margin-bottom: 4em;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
}

/* line 298, ../sass/_navigation.scss */
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
  padding-right: 15%;
}

/* line 306, ../sass/_navigation.scss */
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  width: 50%;
  padding-left: 15%;
  text-align: right;
}

/* line 313, ../sass/_navigation.scss */
.nav-indicator {
  margin-bottom: 1em;
}

/* line 316, ../sass/_navigation.scss */
.nav-previous h1,
.nav-next h1 {
  font-weight: 900;
}

/* line 318, ../sass/_navigation.scss */
.comment-navigation {
  padding: 1em 0;
  margin: 3em 0;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
}

/* line 325, ../sass/_navigation.scss */
.comment-navigation i {
  margin: 0 1em;
}

@media screen and (max-width: 600px) {
  /* line 331, ../sass/_navigation.scss */
  .comment-navigation .nav-previous,
  .post-navigation .nav-previous,
  .comment-navigation .nav-next,
  .post-navigation .nav-next {
    float: none;
    width: 100%;
    padding: 0;
    text-align: left;
  }

  /* line 339, ../sass/_navigation.scss */
  .comment-navigation .nav-next,
  .post-navigation .nav-next {
    margin-top: 4rem;
  }
}
/* line 342, ../sass/_navigation.scss */
.paging-navigation ul {
  margin: 0;
}

/* line 344, ../sass/_navigation.scss */
.paging-navigation li {
  display: inline;
}

/* line 347, ../sass/_navigation.scss */
a.page-numbers,
span.page-numbers {
  padding: .3em .7em;
  color: #333;
  color: #333333;
}

/* line 354, ../sass/_navigation.scss */
a:hover.page-numbers,
a:focus.page-numbers {
  color: #000;
  color: black;
}

/* line 359, ../sass/_navigation.scss */
.paging-navigation .current {
  font-weight: bold;
  color: #000;
  color: black;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 6, ../sass/_posts.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 8, ../sass/_posts.scss */
.updated {
  display: none;
}

/* line 11, ../sass/_posts.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 15, ../sass/_posts.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 17, ../sass/_posts.scss */
.page-links {
  margin: 0 0 1.5em;
  clear: both;
}

/* line 22, ../sass/_posts.scss */
.entry-title {
  margin: 0 0 2rem;
  font-weight: 900;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.3em;
  color: #000;
  color: black;
}

/* line 32, ../sass/_posts.scss */
.page .entry-title {
  margin-top: .7em;
}

/* line 34, ../sass/_posts.scss */
.entry-content a {
  text-decoration: underline;
}

/* Typography */
/* line 42, ../sass/_posts.scss */
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: .4em;
}

/* line 44, ../sass/_posts.scss */
.entry-content h1 {
  font-size: 32px;
  font-size: 3.2rem;
}

/* line 49, ../sass/_posts.scss */
.entry-content h2 {
  font-size: 30px;
  font-size: 3.0rem;
}

/* line 54, ../sass/_posts.scss */
.entry-content h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

/* line 59, ../sass/_posts.scss */
.entry-content h4 {
  font-size: 26px;
  font-size: 2.6rem;
}

/* line 64, ../sass/_posts.scss */
.entry-content h5 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 69, ../sass/_posts.scss */
.entry-content h6 {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 76, ../sass/_posts.scss */
.entry-content p,
.entry-content ul,
.entry-content ol {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6em;
}

/* line 82, ../sass/_posts.scss */
.entry-content blockquote p {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.5em;
}

/* line 88, ../sass/_posts.scss */
blockquote cite {
  font-size: 18px;
  font-size: 1.8rem;
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
  /* line 95, ../sass/_posts.scss */
  .entry-title {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.3em;
  }

  /* line 100, ../sass/_posts.scss */
  .entry-content h1 {
    font-size: 28px;
    font-size: 2.8rem;
  }

  /* line 105, ../sass/_posts.scss */
  .entry-content h2 {
    font-size: 26px;
    font-size: 2.6rem;
  }

  /* line 110, ../sass/_posts.scss */
  .entry-content h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  /* line 115, ../sass/_posts.scss */
  .entry-content h4 {
    font-size: 22px;
    font-size: 2.2rem;
  }

  /* line 120, ../sass/_posts.scss */
  .entry-content h5 {
    font-size: 20px;
    font-size: 2rem;
  }

  /* line 125, ../sass/_posts.scss */
  .entry-content h6 {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 132, ../sass/_posts.scss */
  .entry-content p,
  .entry-content ul,
  .entry-content ol {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 137, ../sass/_posts.scss */
  .entry-content blockquote p {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5em;
  }

  /* line 143, ../sass/_posts.scss */
  blockquote cite {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
/* Blockquotes */
/* line 150, ../sass/_posts.scss */
blockquote {
  padding: 1em 1.5em 0;
  margin-bottom: 1em;
  font-style: italic;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

/* line 158, ../sass/_posts.scss */
blockquote.alignleft {
  float: left;
  width: 50%;
  padding: 1em 0 0;
  margin-right: 2em;
}

/* line 165, ../sass/_posts.scss */
blockquote.alignright {
  float: right;
  width: 50%;
  padding: 1em 0 0;
  margin-left: 2em;
}

/* line 173, ../sass/_posts.scss */
.index-box blockquote.alignleft,
.index-box blockquote.alignright {
  background: #fff;
  background: white;
  border: none;
}

/* line 179, ../sass/_posts.scss */
blockquote em {
  font-style: normal;
}

/* line 183, ../sass/_posts.scss */
blockquote cite {
  display: block;
  margin-top: 1em;
  margin-left: 40%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  line-height: 1.5em;
  text-align: right;
}

/* Blockquotes responsive */
@media screen and (min-width: 1820px) {
  /* line 195, ../sass/_posts.scss */
  .index-box blockquote.alignright {
    padding-right: 2em;
  }
}
@media screen and (min-width: 1320px) {
  /* line 199, ../sass/_posts.scss */
  .index-box blockquote.alignleft {
    padding-left: 2em;
  }
}
@media screen and (max-width: 780px) {
  /* line 204, ../sass/_posts.scss */
  blockquote.alignleft,
  blockquote.alignright {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  /* line 209, ../sass/_posts.scss */
  blockquote.alignleft,
  blockquote.alignright {
    width: 100%;
    padding: 1em 1.5em 0;
  }
}
/* Image borders for white-on-white images */
/* line 217, ../sass/_posts.scss */
.border-gray {
  border: #b9b9b9 solid 1px;
  border: #bfbfbf solid 1px;
}

/* line 222, ../sass/_posts.scss */
.border-black {
  border: #000 solid 1px;
  border: black solid 1px;
}

/* line 227, ../sass/_posts.scss */
.border-custom {
  border: #6DBCDB solid 1px;
  border: #bd3f05 solid 1px;
}

/* Meta */
/* line 233, ../sass/_posts.scss */
.category-list {
  margin: 1.3em 0 1em;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 240, ../sass/_posts.scss */
.category-list a {
  color: #333;
  color: #1a1a1a;
}

/* line 246, ../sass/_posts.scss */
.category-list a:hover,
.category-list a:focus {
  color: #000;
  color: black;
}

/* line 251, ../sass/_posts.scss */
.entry-meta {
  margin-bottom: 2rem;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 259, ../sass/_posts.scss */
.entry-meta a {
  font-weight: 600;
}

/* Pseudo content to make meta list look pretty on smaller screens */
/* line 262, ../sass/_posts.scss */
.posted-on:before {
  content: ' on ';
}

/* line 265, ../sass/_posts.scss */
.posted-on:after,
.comments-link:after {
  content: '. ';
}

/* Meta responsive */
@media screen and (min-width: 1320px) {
  /* line 269, ../sass/_posts.scss */
  .single .entry-meta {
    position: absolute;
    width: 120px;
    margin-left: -160px;
    text-align: right;
  }

  /* line 278, ../sass/_posts.scss */
  .single .byline,
  .single .posted-on,
  .single .comments-link {
    display: block;
    margin-bottom: 1em;
  }

  /* line 283, ../sass/_posts.scss */
  .single .author {
    display: block;
  }

  /* line 287, ../sass/_posts.scss */
  .single .posted-on:before,
  .single .posted-on:after,
  .entry-meta .comments-link:after {
    content: none;
  }
}
/* line 290, ../sass/_posts.scss */
.entry-footer {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-family: 'Lato', sans-serif;
}

/* line 296, ../sass/_posts.scss */
.entry-footer ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2em;
  list-style-type: none;
}

/* line 305, ../sass/_posts.scss */
.entry-footer li {
  display: inline-block;
  margin-right: 4rem;
}

/* line 310, ../sass/_posts.scss */
.entry-footer i {
  margin-right: .5rem;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 4, ../sass/_widgets.scss */
.widget {
  margin: 0 0 4em;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 11, ../sass/_widgets.scss */
.widget-title {
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 2.4rem;
  border-bottom: 2px solid #000;
}

/* line 18, ../sass/_widgets.scss */
.widget a {
  font-weight: 700;
  color: #000;
  color: black;
}

/* line 25, ../sass/_widgets.scss */
.widget ul,
.widget ol {
  padding: 0;
  margin: -1em 0 0;
  list-style-type: none;
}

/* line 31, ../sass/_widgets.scss */
.widget li {
  padding: 1em 0 0;
}

/* line 34, ../sass/_widgets.scss */
.widget li ul,
.widget li ol {
  margin-top: 0;
}

/* line 36, ../sass/_widgets.scss */
.widget li li {
  margin-left: 1.5em;
}

/* line 40, ../sass/_widgets.scss */
.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before {
  display: block;
  float: left;
  padding-top: 2px;
  margin-left: -2.5em;
  font-family: 'fontawesome';
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 51, ../sass/_widgets.scss */
.widget_recent_entries li,
.widget_recent_comments li {
  margin: 0 0 .5em 2.5em;
}

/* line 53, ../sass/_widgets.scss */
.widget_recent_entries li:before {
  content: "\f036";
}

/* line 55, ../sass/_widgets.scss */
.widget_recent_comments li:before {
  content: "\f075";
}

/* line 57, ../sass/_widgets.scss */
.widget_archive li {
  margin: 0 0 0 2.5em;
}

/* line 59, ../sass/_widgets.scss */
.widget_archive li:before {
  content: "\f187";
}

/* line 62, ../sass/_widgets.scss */
.widget_nav_menu a,
.widget_pages a {
  display: block;
  padding: 1em 0;
  border-bottom: solid 1px #e6e6e6;
}

/* line 69, ../sass/_widgets.scss */
.widget_nav_menu li,
.widget_pages li {
  padding-top: 0;
}

/* line 71, ../sass/_widgets.scss */
.widget_rss li {
  margin-bottom: .5em;
}

/* line 74, ../sass/_widgets.scss */
.widget_rss .rss-date,
.widget_rss cite {
  display: block;
  font-size: 85%;
}

/* Make sure select elements fit in widgets */
/* line 80, ../sass/_widgets.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 83, ../sass/_widgets.scss */
.widget_search .search-submit {
  display: none;
}

/* line 85, ../sass/_widgets.scss */
.footer-widgets {
  margin: 0 auto;
}

/* line 89, ../sass/_widgets.scss */
.footer-widgets .widget-title,
.footer-widgets .widget a:hover,
.footer-widgets .widget a:focus {
  color: #fff;
  color: white;
  border-color: #fff;
  border-color: white;
}

/* line 96, ../sass/_widgets.scss */
.footer-widgets .widget {
  float: left;
  width: 320px;
  margin: 0 4rem 8rem 4rem;
}

/* Footer widgets responsive */
@media screen and (max-width: 879px) {
  /* line 104, ../sass/_widgets.scss */
  #footer-widgets {
    width: 100% !important;
  }

  /* line 106, ../sass/_widgets.scss */
  .footer-widgets .widget {
    float: none;
    width: 100%;
    margin: 0 0 8rem;
  }
}
